body {
    background-color: black;
}

/* Animations at Load */
#loads-con {
    animation-name: disappear;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#load-1 {
    width: 100%;
    z-index: 99;
    background-color: #F89F41;
    height: 0vh;
    animation-name: roll-down;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-bottom: 100vh;
}

#load-2 {
    width: 100%;
    z-index: 100;
    background-color: black;
    height: 0vh;
    animation-name: roll-down;
    animation-duration: .75s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#body-con {
    overflow: hidden;
    height: 100vh;
    /*border: 1px solid red;*/
    animation-name: hiding-1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    }
 
/* Animations */
@keyframes disappear {
    0% {
        height: 100vh;
    }
    
    100% {
        height: 0;
    }
}

@keyframes roll-down {
    0% {
        height: 0vh;
    }
    
    100% {
        height: 110vh;
    }
}

@keyframes fly-in {
    0% {
        margin-top: 20px;
        opacity: 0;
    }
    
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes hiding-1 {
    0% {
        height: 100vh !important;
    }
    100% {
        height: 100%;
    }
}

@keyframes hiding-2 {
    0% {
        display: relative; !important;
    }
    100% {
        display: relative;;
    }
}

/* NAV */
#navbar-stick {
    height: 0px;
}

.navbar {
    padding-left: 100px;
    padding-right: 100px;
}

.sticky {
    position: sticky;
    top: 15px;
}

#nav-link {
    color: white;
    font-family: 'Raleway', sans-serif;
    opacity: .25;
    transition-property: opacity;
    transition-duration: 1s;
}

#nav-link:hover {
    opacity: 1;
}

/* Jumbo */
#jumbo {
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-position: 0% 50%;
}

#title-con {
    position: relative;
    animation-name: fly-in;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

#title {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    text-shadow: 3px 3.5px rgb(0,0,0,.5);
    animation-name: fly-in;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

#subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    animation-name: fly-in;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

#connect {
    width: 20px;
}

.secthead {
    font-family: 'Raleway';
    letter-spacing: 4px;
    text-align: center;
    animation-name: fly-in;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* Section 1 */
#section1 {
    background-color: #F89F41;
}

/* Section 2 */
#section2 {
    background-color: black;
}

#quote {
    color: white;
    font-family: 'Marck Script';
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
}

#author {
    color: white;
    font-family: 'Raleway';
    font-size: 10px;
    letter-spacing: 4px;
    text-align: center;
}

#quote-icon {
    color: #F89F41;
    font-family: 'Marck Script';
    font-size: 30px;
    text-align: center;
}

/* Section 3 */
#section3 {
    background-color: #F89F41;
}

#port-title {
    font-family: 'Raleway';
    font-size: 20px;
    letter-spacing: -1px;
}

#port-con {
    display: flex !important;
    justify-content: flex-end;
}

#port {
    width: 512px;
    height: 768px;
    background-image: url(images/computer.jpg);
    background-size: cover;
}

#port-content {
    display: absolute;
    margin-left: -205px;
    margin-top: 50px;
}

.port-links {
    color: black;
}

a {
    text-decoration: none !important;
}

.port-links:hover .port-text {
    color: black;
    text-decoration: none !important;
    width: 100%;
    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    
}

.port-text {
    /*border: 1px solid red;*/
    max-width: fit-content;
    background-color: yellow;
    overflow: visable;
    width: 0;
    white-space: nowrap;
    height: 90px;
}

#port-links-con {
    margin-left: -170px;
    margin-top: 40px;
}

/* Section 4 */
#section4 {
    width: 100%;
    height: 200px;
    display: flex;
}

.orange {
    background-color: #F89F41;
    height: 100%;
    width: 50%;
    flex: 2;
    
}

.black {
    background-color: black;
    height: 100%;
    width: 50%;
    flex: 3;
}

/* Section 5 */
#section5 {
    height: 700px;
    background-color: black;
    box-shadow: 0 8px 6px -6px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#s5-con {
    width: 80%;
    height: 60%;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#con-1 {
    width: 100%;
    height: 49%;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#con-2 {
    width: 100%;
    height: 49%;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cursor {
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}

.logo-img {
    transform: scale(0.75);
    position: relative;
    /*z-index: 0;*/
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    animation-name: hiding-2;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#a1 {
    /*border: 1px solid red;*/
    width: 170px;
    height: 170px;
    background-color: #e65724;
}

#b1 {
    /*border: 1px solid red;*/
    width: 170px;
    height: 170px;
    background-color: #1C7CBC;
}

#c1 {
    /*border: 1px solid red;*/
    width: 170px;
    height: 170px;
    background-color: #E9D54C;
}

#a2 {
    /*border: 1px solid red;*/
    width: 170px;
    height: 170px;
    background-color: #3670A0;
}

#b2 {
    /*border: 1px solid red;*/
    width: 170px;
    height: 170px;
    background-color: #F8F8F8;
}

#c2 {
    /*border: 1px solid red;*/
    width: 170px;
    height: 170px;
    background-color: #092D1F;
}

.level {
    display: flex;
    flex-direction: column;
    opacity: 0;
    border-radius: 50%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.cursor:hover .level{
    opacity: 1;
}

.green-1 {
    /*border: 1px solid red;*/
    z-index: 1;
    height: 34px;
    width: 100%;
    background-color: #AEFFA6;
    opacity: .30;
}

.green-2 {
    z-index: 1;
    height: 34px;
    width: 100%;
    background-color: #AEFFA6;
    opacity: .50;
}

.green-3 {
    z-index: 1;
    height: 34px;
    width: 100%;
    background-color: #AEFFA6;
    opacity: .75;
}

.green-4 {
    z-index: 1;
    height: 34px;
    width: 100%;
    background-color: #AEFFA6;
    opacity: 1;
}

.blank-1 {
    height: 34px;
    width: 100%;
}


/* Section 6 */
#section6 {
    /*height: 600px;*/
    background-image: url(images/contact.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-title {
    color: white !important;
    text-shadow: 3px 2.5px rgb(0, 0, 0, 0.5);
}

#section6 form input {
    margin-bottom: 10px;
}

/* Section 7 */
#section7 {
    height: 100px;
    background-color: #F89F41;
}

#socials {
    padding-top: 30px;
}

#socials a {
    margin-left: 5px;
}




@media screen and (max-width: 768px) {
    #port {
        background-image: none;
    }
    
    #port-content {
        display: absolute;
        margin-left: -0px;
    }
    
    #port-text {
        white-space: wrap;
    }
    
    .port-links:hover .port-text {
        background-color: none;
        transition-property: none;
    }
    
    #port {
        transform: scale(.5);
    }
}

@media screen and (max-width: 425px) {
    #section5 {
        /*border: 1px solid red;*/
        height: 3000px;
    }
    
    #s5-con {
        height: 90%;
    }
    
    #con-1 {
        /*border: 1px solid red;*/
        width: 100%;
        height: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
    }
    
    #con-2 {
        width: 100%;
        height: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #contact-title {
        color: white !important;
        font-size: 30px;
        text-shadow: 3px 2.5px rgb(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 375px) {
    #port {
        transform: scale(.25);
    }
}