/* Jumbo */
#jumbo {
    background-image: url(images/working-overtime.jpg);
    background-size: cover;
    background-position: 0% 50%;
}

#title {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    text-shadow: 3px 3.5px rgb(0,0,0,.5);
}

#subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#connect {
    width: 20px;
}

.secthead {
    font-family: 'Raleway';
    letter-spacing: 4px;
    text-align: center;
}

/* Section 1 */
#section1 {
    background-color: #F89F41;
}

/* Section 2 */
#section2 {
    background-color: black;
}

#quote {
    color: white;
    font-family: 'Marck Script';
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
}

#author {
    color: white;
    font-family: 'Raleway';
    font-size: 10px;
    letter-spacing: 4px;
    text-align: center;
}

#quote-icon {
    color: #F89F41;
    font-family: 'Marck Script';
    font-size: 30px;
    text-align: center;
}

/* Section 3 */
#section3 {
    background-color: #F89F41;
}

#port-title {
    font-family: 'Raleway';
    font-size: 20px;
    letter-spacing: -1px;
}

#port-con {
    display: flex !important;
    justify-content: flex-end;
}

#port {
    width: 512px;
    height: 768px;
    background-image: url(images/computer.jpg);
    background-size: cover;
}

#port-content {
    display: absolute;
    margin-left: -205px;
    margin-top: 50px;
}

.port-links {
    color: black;
}

a {
    text-decoration: none !important;
}

.port-links:hover .port-text {
    color: black;
    text-decoration: none !important;
    width: 100%;
    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    
}

.port-text {
    /*border: 1px solid red;*/
    max-width: fit-content;
    background-color: yellow;
    overflow: visable;
    width: 0;
    white-space: nowrap;
    height: 90px;
}

#port-links-con {
    margin-left: -80px;
    margin-top: 40px;
}

#section4 {
    width: 100%;
    height: 200px;
    display: flex;
}

.orange {
    background-color: #F89F41;
    height: 100%;
    width: 50%;
    flex: 2;
    
}

.black {
    background-color: black;
    height: 100%;
    width: 50%;
    flex: 3;
}

#section5 {
    height: 600px;
    background-color: black;
    box-shadow: 0 8px 6px -6px black;
}

#section6 {
    height: 600px;
    background-image: url(images/contact.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section7 {
    height: 100px;
    background-color: #F89F41;
}




@media screen and (max-width: 768px) {
    #port {
        background-image: none;
    }
    
    #port-content {
        display: absolute;
        margin-left: -0px;
    }
    
    #port-text {
        white-space: wrap;
    }
    
    .port-links:hover .port-text {
        background-color: none;
        transition-property: none;
    }
    
    #port {
        transform: scale(.5);
    }
}

@media screen and (max-width: 375px) {
    #port {
        transform: scale(.25);
    }
}